@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<Main style="height: 2080px;">
	<div class="wrapper">
		<nav>
			<div class="TopBox TopBoxLeft"></div>
			<h1 class="HeadLiner">Traveller</h1>
			<div class="TopBox TopBoxRight"></div>
		</nav>
		<div class="StatsBoxes">
			<div class="grid-item"><h1 class="gridText">Workers</h1></div>
			<div class="grid-item"><h1 class="gridText">Trains</h1></div>
			<div class="grid-item"><h1 class="gridText">Tickets</h1></div>
			<div class="grid-item"><h1 class="gridText">Passengers</h1></div>
		</div>
		<trainlog>

		</trainlog>
	</div>
</Main>
