@page
@model Admin_website.Pages.WorkerPageModel
@{
	ViewData["Title"] = "WorkerPage";
}
<Main style="height: 1550px;">
	<component type="typeof(Pages.CustomComponents.Nav)" render-mode="ServerPrerendered" />
	<div id="ListOfWorksBox" class="box">

	</div>
	<div>
		<div>

		</div>
		<div>

		</div>
	</div>
</Main>