@{
	List<string> staffList = GetListOfStaff();
	for (int i = 0; i < staffList.Count(); i ++)
	{
		<div class="box WorkerBoxInList">
			<h1 style="font-size:1vw">@staffList[i]</h1>
		</div>

	}
}
@code {
	private List<string> GetListOfStaff()
	{

		Model.IDataAccess DataAccess = new Model.DataAccess();
		string cmd = "SELECT GetStaff()";
		List<string> result = DataAccess.GetListBySubject(cmd);
		return result;

	}
}
