@{
	List<string> staffList = GetListOfStaff();
	for (int i = 0; i < staffList.Count() && i > 30; i += 2)
	{
		<div id="WorkerBoxInList" class="box">
			<h1>@staffList[i]</h1>
			<h1>@staffList[i + 1]</h1>
		</div>

	}
}
@code {
	private List<string> GetListOfStaff()
	{
		Model.IDataAccess DataAccess = new Model.DataAccess();
		List<string> result = DataAccess.GetBySubject(Consts.STAFFS);
		return result;

	}
}
