
<div class="grid-item box">
    <h1 class="gridText">Passengers</h1>
    <h1 class="gridText">
        @GetPassengersCount()
    </h1>
</div>


@code {

    private int GetPassengersCount()
    {
        Model.IDataAccess DA = new Model.DataAccess();
        int result = DA.GetBySubjectCount(Consts.PASSENGERS);
        return result;

    }

}
