<div class="grid-item box"><h1 class="gridText">Tickets</h1><h1 class="gridText">@GetTicketsCount()</h1></div>
@code {
    private int GetTicketsCount()
    {
        Model.IDataAccess DA = new Model.DataAccess();
        int result = DA.GetBySubjectCount(Consts.TICKETS);
        return result;

    }
}
