<div class="grid-item box"><h1 class="gridText">Tickets</h1><h1 class="gridText">@GetTicketsCount()</h1></div>
@code {
    private int GetTicketsCount()
    {
        Model.IDataAccess DA = new Model.DataAccess();
        List<string> result = DA.GetBySubject(Consts.TICKETS, true);
        if (result.Count() > 0)
        {
            return result.Count();
        }
        return 0;

    }
}
