<div class="grid-item box"><h1 class="gridText">Trains</h1><h1 class="gridText">@GetTrainsCount()</h1></div>
@code {
    private int GetTrainsCount()
    {

        Model.IDataAccess DA = new Model.DataAccess();
        List<string> result = DA.GetBySubject(Consts.TRAINS, true);
        if (result.Count() > 0)
        {
            return result.Count();
        }
        return 0;
    }
}
