using System;
using Npgsql;
using System.Data;


<div class="TrainLog box">
    <style>
        .color-box {
            border-radius: 15px;
            background-color: black;
            width: 90%;
            height: 90%;
            margin:auto auto auto auto;
            margin-top: 10%;
            color: white; 
            padding: 20px;
        }
    </style>
    <div class="color-box">


    </div>
</div>