using System;
using Npgsql;
using System.Data;


<div class="TrainLog box">
    <style>
        .color-box {
            border-radius: 15px;
            background-color: black;
            width: 90%;
            height: 90%;
            margin:auto auto auto auto;
            margin-top: 10%;
            color: white; 
            padding: 20px;
        }
    </style>
    <div class="color-box">
    @for (int i = 0; i < 5; i++)
        {
            <!DOCTYPE html>
            <html>
            <head>
                <TrainLog>Display Value from Server</TrainLog>
            </head>
        </html>

        }
    </div>
</div>