<div class="TrainLog box">
    <style>
        .color-box {
            border-radius: 15px;
            background-color: black;
            width: 90%;
            height: 90%;
            margin:auto auto auto auto;
            margin-top: 10%;
            color: white; 
            padding: 20px;
        }
    </style>
    <div class="color-box">
        @for (int i = 0; i < 10; i++)
        {
            <p>This is white text in a black box.</p>
        }

    </div>
</div>



@code {

}
