<div class="grid-item box"><h1 class="gridText">Trains</h1><h1 class="gridText">@GetTrainsCount()</h1></div>
@code {
    private int GetTrainsCount()
    {

        Model.IDataAccess DA = new Model.DataAccess();
        int result = DA.GetBySubjectCount(Consts.TRAINS);
        return result;
    }
}
