<div class="grid-item box"><h1 class="gridText">Trains</h1><h1 class="gridText">@GetStaffCount()</h1></div>


@code {
	private int GetStaffCount()
	{
		Model.DataAccess DataAccess = new Model.DataAccess();
		List<string> result = DataAccess.GetBySubject("getstaff");
		if (result.Count() > 0)
		{
			return result.Count();
		}
		return 0;
	}
}
