<div class="grid-item box"><h1 class="gridText">Workers</h1><h1 class="gridText">@GetStaffCount()</h1></div>


@code {
	private int GetStaffCount()
	{
		Model.IDataAccess dataAccess = new Model.DataAccess();
		List<string> result = dataAccess.GetBySubject(Consts.STAFFS, true);
		if (result.Count() > 0)
		{
			return result.Count();
		}
		return 0;
	}
}
